* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #283618;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.image-display {
  width: 400px;
  height: 400px;
  background-color: rgb(250, 250, 250, 0.1);
}

.image {
  width: 400px;
  height: 400px;
}

#dog-button {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border: 0 none;
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

#dog-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 200ms;
}